<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bacon/dist/Bacon.js"></script>
    <script src="/javascripts/client.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default" disabled>Previous</button>
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-default" disabled>Play</button>
        <button type="button" class="btn btn-default" disabled>Pause</button>
    </div>
    <button type="button" class="btn btn-default" disabled>Next</button>
</div>
</body>
</html>